@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* Universal CSS*/
*{
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    transition: translate 0.5s ease; /* Smooth transition for the cart */
}
h2 h3{
    font-weight: 550;
}

/* Navbar */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    
}

header {
    background-color: #493628;
    padding: 1px 0;
    width: 100%;
    
    position: fixed; /* Added to position the hamburger menu correctly */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 50px;
    width: 50px;
    font-weight: bold;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.desktop-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.icon-cart{
    cursor: pointer;
    color: white;
    margin-left: 15px;

}
.icon-cart:hover{
    transform: scale(1.001);
    transition: transform 0.3s ease;
    color:#d3895f
}
.icon-cart span{
    background-color: red;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.8em; 
}
.icon-cart:hover span{
    color: white;
}
.desktop-nav ul li {
    margin-left: 20px;
}

.desktop-nav ul li a {
    text-decoration: none;
    color: #ffffff;
}
.desktop-nav ul li a:hover {
    color: #d3895f;
}

.hamburger-menu {
    display: none; 
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.hamburger-menu.open {
    transform: rotate(45deg); 
}

.mobile-nav {
    display: none; /* Hidden by default */
    position: absolute;
    top: 55px; /* Adjust based on header height */
    left: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 15px 0;
}

.mobile-nav.open {
    display: block;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav ul li {
    padding: 10px 0;
}

.mobile-nav ul li a {
    text-decoration: none;
    color: #fff;
}
/* Hero section */
.hero {
    padding: 40px 0;
    background-color: #361500;
    background-image: url('Cafe-Welcome.avif');
    background-position: center;
    opacity: 1;
    color: white;
    align-items: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero .container {
    
    width: 100%; /* Ensure container takes full width */
    max-width: 1200px; 
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Keep the padding */
    display: flex; 
    align-items: center; /* Adjust if needed */
    
    
}

.hero-content {
    flex: 1;
    padding-right: 20px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-content p {
    line-height: 1.6;
    margin-bottom: 20px;
}
/* Menu Section */
.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ececec;
    color: rgb(0, 0, 0);

}
/* Categories Section */
.categories {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    border-radius: 15px;
}
.categories h2{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
    font-size: 2em;
    margin-bottom: 1px;
    color: #493628;
}

.cat-row{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.cat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    background-color: #ffffff;
    padding: 12px;
    height: 5vh;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}
.cat:hover{
    background-color: #dbdbdb;
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
.cat h1{
    font-size: 3em;
    margin-bottom: 10px;
}
/* Menu Item Styles */
.menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    background-color: #ececec;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
}
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    width: 250px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.order-button {
    bottom: 0;
    background-color: #493628;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    text-decoration: none; 
}
.order-button:hover {
    background-color: #674e3c;
    color: #d3895f;
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
.menu-img{ /* Image container */
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    object-fit: cover;
    display: block;
}
.menu-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
footer {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 40px 0;
    width: 100%;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
footer ul li {
    margin: 0 10px;
}
footer ul li a {
    text-decoration: none;
    color: #ffffff;
}
/* Cart Window Section */
.cartTab{
    display: grid;
    width: 400px;
    background-color: #353432;
    color: #c6c6c6;
    position: fixed;
    inset: 0 -400px 0 auto;
    grid-template-rows:  70px 1fr 70px;
    transition: inset .5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button{
    background-color: #c79775;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    transition: color 0.3s ease;
}
.cartTab .btn button:hover{
    background-color: #967258;
    color: #ffdecb;
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
.cartTab .btn .close{
    background-color: white;
    color: black;
}
.cartTab .btn .close:hover{
    background-color: #dadada;
    color: rgb(75, 75, 75);
}
/* Cart Items */
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    
}
.cartTab .listCart .item .image{
    width: 70px;
    height: 70px;
}
.cartTab .listCart .item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.listCart .quantity span{
    display: inline-block; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #eee;
    color: #555;
    cursor: pointer;
} 
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: white;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto; /* Allow scrolling if content overflows */
}
.listCart::-webkit-scrollbar{
    width: 0;
}
/* To show cart */
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
body .container-all{
    transition: transform 0.5s ease; /* Smooth transition for the cart */
}
body.showCart .container-all{
    transform: translateX(-200px);
}






/* Responsive Design */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    .logo{
        padding-left: 10px;
    }
    .logo img{
        height: 40px;
        width: 40px;
    }
    .hamburger-menu {
        font-size: 1em;
        display: block; /* Make it visible on mobile */
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        background-color: #493628;
        border: 3px solid #674e3c;
        border-radius: 5px;
        position: absolute; /* Position it relative to the header */
        top: 10px; /* Adjust vertical position as needed */
        right: 20px; /* Adjust horizontal position as needed */
        z-index: 1000; /* Ensure it appears above other elements */
    }

    .hero {
        height: auto; /* Allow the hero section to adjust its height based on content */
        padding: 20px 0; /* Adjust padding for smaller screens */
        background-image: url('Cafe-Welcome.avif'); /* Ensure the background image is set correctly */
        background-size: cover;
        background-position: center;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
    }

    .hero .container {
        flex-direction: column;
        text-align: center;
        padding: 20px; /* Adjust padding for the container on smaller screens */
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 20px;
    }
    /* Categories Section */
    .cat-row {
        flex-direction: row;
        gap: 4px
    }
    .categories{
        width: 100%;
        padding: 0px;
    }
    .categories h2{
        height: 25px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        text-align: center;
        background-color: white;
        font-size: 1.3em;
        margin-bottom: 1px;
        color: #493628;
    }
    .cat {
        width: auto;
        font-size: 0.7em;
        height: 18px;
        padding: 3px 5px;
        gap:4px;
    }
    /* Menu Item Styles */
    .menu-items{
        width: 100%;
        flex-direction: row;
    }
    .menu-item {
        width: 46%;
        height: auto;
        font-size: 0.8em;
        transition: font-size 0.3s ease;
    }

    .order-button {
        padding: 8px;
    }
    .menu-img {
        width: 100%;
        height: 100px;
    }

    .menu-img img {
    }
    .menu-item > h2{
        font-size: 1.08em;
        margin-bottom: 5px;
    }
    .desc{
        font-size: 0px;
    }
    /* .menu-item:hover > .desc{
        font-size: 0.8em;
    } */
    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1em;
    }
    footer{
        font-size: 0.8em;
    }
    /* Cart window section */
    .cartTab{
        width: 100%;
        height: 100vh;
        grid-template-rows: 70px 1fr 70px;
        inset: 0 -400px 0 auto;
    }
    .cartTab .listCart .item{
        grid-template-columns: 70px 123px 50px 1fr;
        gap: 10px;
    }
    .cartTab .listCart .quantity{
        font-size: 0.8em;
    }
    body.showCart .container-all{
    transform: translateX(0px);
}
}

